.side-menu-item {
    position: relative;
    padding: 8px 0;

    .menu-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #727272;
      padding: 0 15px;

      &.active {
        // background: #f5f5f5;
        border-radius: 10px;
        color: #2F2F31 !important;
        font-weight: 600;
        font-size: 16px;
        position: relative;
        &::after{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 3px;
          background-color: #fb6c00;
          border-radius: 0 10px 10px 0;
        }

        .menu-ic {
          padding: 10px 12px;

          img {
            &.menu-img {
              display: none;
              color: #818181;
            }

            &.menu-color-img {
              display: block;
            }
          }
        }
      }

      &:hover {
        background: #e1dbdb;
        border-radius: 10px;
        color: #090a0c;
      }

      .menu-ic {
        padding: 10px 12px;

        img {
          width: 100%;

          &.menu-color-img {
            display: none;
          }
        }
      }

      .menu-title {
        font-size: 14px;
        text-transform: capitalize;
        padding-bottom: 5px;
      }
    }
  }